$homeButtonPadding: 32px;
$homeButtonSize: 65px;

.homeButton {
  position: absolute;
  top: $homeButtonPadding;
  left: $homeButtonPadding;

  height: $homeButtonSize;
  width: $homeButtonSize;

  font-size: 48px;
  font-family: inherit;
  font-weight: lighter;
  text-align: center;

  border: none;
  border-radius: 50%;
  outline: none;

  cursor: pointer;
  
  color: $colorText;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.inputText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;

  /* Sizing */
  height: 210px;
  max-height: 400px;
  width: 724px;
  max-width: 80%;

  /* Font Manipulation */
  font-size: 39px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: lighter;
  letter-spacing: 8px;

  /* Borders */
  border: none;
  border-radius: 30px;
  outline: none;

  /* Colors Decorations */
  background-color: white;
  color: $colorText;
  box-shadow: 0 0 114px rgba(0, 0, 0, 0.1);
}

.share-thoughs-button {
  /* Positioning */
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;

  // Borders
  border: none;

  /* Font Manipulation */
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: lighter;
  font-size: 36px;

  outline: none;

  /* Colors Decorations */
  color: $colorTextMuted;
  background-color: transparent;
}